body, html
  line-height 1
  font-weight 200
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif

// 清除
.clearfix
  display inline-block
  &:after
    display block
    content '.'
    height 0
    line-height 0
    clear both
    visibility hidden

// 前面一个类如果设置了伪元素after(即border-1px())，则根据情况用类border-1px的伪元素属性覆盖掉前一个类的伪元素属性，修改比例;
// 没有的话覆盖也不会生效，所有可以把这个样式放在主样式里
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform scaleY(0.7)
      transform scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform scaleY(0.5)
      transform scaleY(0.5)
